<!-- render people/new.html -->
<div class="row">
  <div class="col">
    <%= form_with( model: [@organization, resource], local: true, class: 'smart-form', html: { novalidate: 'novalidate' } ) do |form| %>
      <fieldset>

        <%= hidden_field( :organization, :id, value: @org_id ) %>


        <div class="row">
          <div class="col-sm">
            <%= delphi_text_field( form, { label: 'Process Name', name: :process_name} ) %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm mr-sm-3">
            <%= delphi_text_field( form, { label: 'Left Boundary', icon: 'fa fa-arrow-left', name: :left_boundary } ) %>
          </div>
          <div class="col-sm">
            <%= delphi_text_field( form, { label: 'Right Boundary', icon: 'fa fa-arrow-right', name: :right_boundary } ) %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <%= delphi_text_area( form, { label: 'Process Description', name: :process_description } ) %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <%= delphi_text_field( form, { label: 'Capability Goal', name: :capability_goal } ) %>
          </div>
        </div>

      </fieldset>

      <footer>
        <%= submit_button( form, {buttonType: 'primary', icon: 'glyphicon-save'}) %>
      </footer>

    <% end %>`
  </div>
</div>
