

    <div class="row list-group-item"
         data-toggle="collapse"
         href="#collapse_<%= pain_point.id %>"
         role="button"
         aria-expanded="false"
         aria-controls="collapse_<%= pain_point.id %>">
      <div class="col-sm">
        <span class="name"><%= pain_point.symptom %></span>
        <span class="reference"><%= pain_point.impact %></span>
      </div>
    </div>
    <div id="collapse_<%= pain_point.id %>" class="row collapse" class="list-group-item">
      <div class="col-sm">
        <div class="row">
          <div class="col-sm">
            <%= link_to 'New Update', new_pain_point_update_path( pain_point ), class: 'btn btn-primary' %>
            <%= link_to 'View', pain_point_path( pain_point ), class: 'link' %>&nbsp;|&nbsp;
            <%= link_to 'Edit', edit_pain_point_path(  pain_point ), class: 'link' %>&nbsp;|&nbsp;
            <%= link_to '<i class="glyphicon glyphicon-remove"></i>Delete'.html_safe, pain_point, method: :delete, data: { confirm: 'Are you sure?' }, class: 'txt-color-red' %>
            <div class="job_description">
              <%= pain_point.job_description %>
            </div>
          </div>
        </div>

        <% @status_updates = pain_point.pain_point_updates.sort_by_date %>
        <%= render partial: 'status_updates/status_update', collection: @status_updates %>

      </div>
    </div><!--End of CustomerJob <%= pain_point.id %> -->