<!-- render people/new.html -->
<div class="row">
  <div class="col">
    <%= form_with( model: [parent, resource] , local: true, class: 'smart-form', html: { novalidate: 'novalidate' } ) do |form| %>
      <fieldset>

        <%= hidden_field( :parent, :id, value: edit_parent.id ) %>

        <div class="row">
          <div class="col-sm mr-sm-3">
            <%= delphi_text_field( form, { label: 'First Name', name: :first_name } ) %>
          </div>
          <div class="col-sm">
            <%= delphi_text_field( form, { label: 'Last Name', name: :last_name } ) %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <%= delphi_email_field( form, { label: 'Email', name: :email } ) %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm mr-sm-3">
            <%= delphi_text_field( form, { label: 'Job Title', icon: 'fa fa-sitemap', name: :job_title } ) %>
          </div>
          <div class="col-sm">
            <%= delphi_phone_field( form, { label: 'Phone', name: :telephone } ) %>
          </div>
        </div>

      </fieldset>

      <footer>
        <%= submit_button( form, { buttonType: 'primary', icon: 'glyphicon-save'}) %>
      </footer>

    <% end %>`
  </div>
</div>
