

<%= form_with model: [@organization, @person], local: true, id: "form-A2" do |person_fields| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <fieldset >

    <h2>Contact Information</h2>
      <div class="full">
        <div class="field half left">
          <%= person_fields.label :first_name %>
          <%= person_fields.text_field :first_name, id: :person_first_name %>
        </div>
        <div class="field half left">
          <%= person_fields.label :last_name %>
          <%= person_fields.text_field :last_name, id: :person_last_name %>
        </div>
      </div>

      <div class="field">
        <%= person_fields.label :job_title %>
        <%= person_fields.text_field :job_title, id: :person_job_title %>
      </div>

    <div class="field">
      <%= person_fields.label :email %>
      <%= person_fields.email_field :email, id: :person_email %>
    </div>

    <div class="field">
      <%= person_fields.label :telephone %>
      <%= person_fields.telephone_field :telephone, id: :person_telephone %>
    </div>

  <div class="actions">
    <%= person_fields.submit %>
  </div>

  </fieldset>

<% end %>