<!-- render people/table.html -->
<div class="row">
  <div class="col table-responsive">
    <table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox data-table">
      <thead>
      <tr>
        <th><span>Name</span></th>
        <th>
          <span class="left">Contact Info</span>
          <span><%= small_button( { label: 'Add a Member', path: new_organization_user_path( parent ), class: 'right'} ) %></span>
        </th>
      </tr>
      </thead>
      <tbody>
      <% resources.each do |row| %>
        <tr>
          <td class="three-eigths">
            <span class="name"><%= row.first_name + ' ' + row.last_name %></span>
            <span class="job-title"><%= row.job_title %></span>
          </td>
          <td class="five-eigths">
            <span class="telephone"><%= row.telephone %></span>
            <span class="email"><%= row.email %></span>
            <span class="links">
              <%= link_to 'View', organization_person_path( parent, row ), class: 'link' %>&nbsp;|&nbsp;
              <%= link_to 'Edit', edit_organization_person_path( parent, row ), class: 'link' %>&nbsp;|&nbsp;
              <%= link_to '<i class="glyphicon glyphicon-remove"></i>Delete'.html_safe, [row], method: :delete, data: { confirm: 'Are you sure?' }, class: 'txt-color-red' %>
            </span>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>