<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @person.telephone %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @person.organization.name %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @person.job_title %>
</p>

<%= link_to 'Edit', edit_organization_person_path(@organization, @person) %> |
<%= link_to 'Back', organization_path( @organization ) %>
