

    <div class="row list-group-item"
         data-toggle="collapse"
         href="#collapse_<%= customer_job.id %>"
         role="button"
         aria-expanded="false"
         aria-controls="collapse_<%= customer_job.id %>">
      <div class="col-sm">
        <span class="name"><%= customer_job.job_name %></span>
        <span class="reference"><%= customer_job.ref_number %></span>
      </div>
    </div>
    <div id="collapse_<%= customer_job.id %>" class="row collapse" class="list-group-item">
      <div class="col-sm">
        <%= link_to 'New Update', new_customer_job_status_update_path( customer_job ), class: 'btn btn-primary' %>
        <%= link_to 'View', customer_job_path( customer_job ), class: 'link' %>&nbsp;|&nbsp;
        <%= link_to 'Edit', edit_customer_job_path(  customer_job ), class: 'link' %>&nbsp;|&nbsp;
        <%= link_to '<i class="glyphicon glyphicon-remove"></i>Delete'.html_safe, customer_job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'txt-color-red' %>
        <div class="job_description">
          <%= customer_job.job_description %>
        </div>
      </div>
    </div><!--End of CustomerJob <%= customer_job.id %> -->