<!-- render people/new.html -->
<div class="row">
  <div class="col-sm">
    <%= form_with( model: [resource] , local: true, class: 'smart-form', html: { novalidate: 'novalidate' } ) do |form| %>
      <fieldset>

        <div class="row">
          <div class="col-sm">
            <%= collection_select( :customer_job, :customer_id, dropdown, :id, :name, {:prompt =>'Which Customer?'} ) %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm mr-sm-3">
            <%= delphi_text_field( form, { label: 'Job Name', name: :job_name} ) %>
          </div>
          <div class="col-sm">
            <%= delphi_text_field( form,{ label: 'Reference #', name: :ref_number} ) %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <%= delphi_text_area(form, { label: 'Job Description', name: :job_description} ) %>
          </div>
        </div>
      </fieldset>

      <footer>
        <%= submit_button( form, { buttonType: 'primary', icon: 'glyphicon-save'}) %>
      </footer>

    <% end %>`
  </div>
</div>
