<!-- render customer_jobs/table.html -->
<div class="row">
  <div class="col table-responsive">
    <table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox data-table">
      <thead>
        <tr>
          <th>
            <span><%= small_button( { label: 'Enter a New Job', path: new_organization_customer_job_path( @organization ), class: 'right'} ) %></span>
          </th>
        </tr>
      </thead>
      <tbody>
      <% resource.each do |job| %>
        <tr>
          <td >
            <span class="name"><%= job.job_name %></span>
            <span class="reference"><%= job.ref_number %></span>
            <span class="links">
              <%= link_to 'View', customer_job_path( job ), class: 'link' %>&nbsp;|&nbsp;
              <%= link_to 'Edit', edit_customer_job_path(  job ), class: 'link' %>&nbsp;|&nbsp;
              <%= link_to '<i class="glyphicon glyphicon-remove"></i>Delete'.html_safe, job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'txt-color-red' %>
            </span>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div> 