<%= form_with(model: toe_tag, local: true) do |form| %>
  <% if toe_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(toe_tag.errors.count, "error") %> prohibited this toe_tag from being saved:</h2>

      <ul>
      <% toe_tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :priority %>
    <%= form.number_field :priority, id: :toe_tag_priority %>
  </div>

  <div class="field">
    <%= form.label :big_small_now %>
    <%= form.text_field :big_small_now, id: :toe_tag_big_small_now %>
  </div>

  <div class="field">
    <%= form.label :solution %>
    <%= form.text_area :solution, id: :toe_tag_solution %>
  </div>

  <div class="field">
    <%= form.label :success_measurement %>
    <%= form.text_area :success_measurement, id: :toe_tag_success_measurement %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
