<!-- render toe_tags/_form.html -->
<div class="row">
  <div class="col-sm">
    <%= form_with( model:  [parent, resource] , local: true, class: 'smart-form', html: { novalidate: 'novalidate' } ) do |form| %>
      <fieldset>

        <div class="hidden fields">
          <%= hidden_field( :workshop, :id, value: @edit_parent.id ) %>
        </div>

        <fieldset>
          <div class="row">
            <div class="col-sm">

              <select name="toe_tag[priority]">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
              </select>

          </div>
          <div class="row">
            <div class="col-sm mr-sm-3">
              <%= delphi_text_field( form, { label: 'Big Now / Small Now', name: :big_small_now} ) %>
            </div>
            <div class="col-sm">
              <%= delphi_text_field( form, { label: 'Solution', name: :solution, icon: 'fa fa-street-view' } ) %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <%= delphi_text_field( form, { label: 'Success Measurement', name: :success_measurement } ) %>
            </div>
          </div>
        </fieldset>

      </fieldset>

      <footer>
        <%= submit_button( form, { buttonType: 'primary', icon: 'glyphicon-save'}) %>
      </footer>

    <% end %>`
  </div>
</div>
