<!-- CONTENT: toe_tags/index.html -->
<%= page_title( { title: 'Improvement Plan' } ) %>
<div class="list-group">
  <%= render @toe_tags %>
</div> <!--End of List Group -->
<%= page_footer %>
  <%= back_button label: 'Workshop', path: workshop_path( @parent ), buttonType: 'primary', class: 'left'  %>
  <%= back_button label: 'My Profile', path: process_owner_path( @process_owner ), buttonType: 'primary', class: 'left'  %>
<%= page_end %>