<p id="notice"><%= notice %></p>

<p>
  <strong>Priority:</strong>
  <%= @toe_tag.priority %>
</p>

<p>
  <%= @toe_tag.big_small_now %>
</p>
<p>
  <%= @toe_tag.solution %>
</p>
<p>
  <%= @toe_tag.success_measurement %>
</p>

<%= link_to 'Edit', edit_toe_tag_path(@toe_tag) %> |
<%= link_to 'Back', toe_tags_path %>
