<%= form_with(model: action_result, local: true) do |form| %>
  <% if action_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(action_result.errors.count, "error") %> prohibited this action_result from being saved:</h2>

      <ul>
      <% action_result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Organization_id %>
    <%= form.text_field :Organization_id, id: :action_result_Organization_id %>
  </div>

  <div class="field">
    <%= form.label :ar_number %>
    <%= form.number_field :ar_number, id: :action_result_ar_number %>
  </div>

  <div class="field">
    <%= form.label :action %>
    <%= form.text_field :action, id: :action_result_action %>
  </div>

  <div class="field">
    <%= form.label :result %>
    <%= form.text_field :result, id: :action_result_result %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
