<%= form_with(model: metric, local: true) do |form| %>
  <% if metric.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(metric.errors.count, "error") %> prohibited this metric from being saved:</h2>

      <ul>
      <% metric.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ActionResult_id %>
    <%= form.text_field :ActionResult_id, id: :metric_ActionResult_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :metric_name %>
  </div>

  <div class="field">
    <%= form.label :datatype %>
    <%= form.text_field :datatype, id: :metric_datatype %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
