
<!-- render people/new.html -->
<div class="row">
  <div class="col-sm">
    <%= form_with( model: [parent, resource] , local: true, class: 'smart-form', html: { novalidate: 'novalidate' } ) do |form| %>
      <fieldset>
        <div class="row">
          <div class="col-sm">
            <span>By <%= resource.author %></span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm mr-sm-3">
            <label class="input-label">Action-Result Stage</label>
            <div class="input">
              <%= collection_select( :customer_job_update, :action_result_id, ActionResult.all, :id, :ar_number ) %>
            </div>
          </div>
          <div class="col-sm">
            <%= delphi_date_field( form, { label: 'Status Date', icon: 'fa fa-calendar', name: :post_date, value: Date.today.strftime( '%F' ) } ) %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <%= delphi_text_area( form, { label: 'Notes', icon: 'fa fa-sitemap', name: :text } ) %>
          </div>
        </div>


      <footer>
        <%= submit_button( form, { buttonType: 'primary', icon: 'glyphicon-save'}) %>
      </footer>
    </fieldset>

    <% end %>`

    <%= form_with( model: resource )  do |f| %>
      <div class="row">
        <div class="col-sm">
          <div class="input-group_sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Upload</span>
            </div>
            <div class="custom-file">
              <input type="file" class="custom-file-input" name="customer_job_update[attachment]" id="customer_job_update_attachment_">
              <label class="custom-file-label" for="customer_job_update_attachment_">Choose file</label>
            </div>
          </div>
        </div>
      </div>
    <% end %>



  </div>
</div>