<%= form_with(model: update, local: true) do |form| %>
  <% if update.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(update.errors.count, "error") %> prohibited this update from being saved:</h2>

      <ul>
      <% update.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :DateLookup_id %>
    <%= form.text_field :DateLookup_id, id: :update_DateLookup_id %>
  </div>

  <div class="field">
    <%= form.label :Person_id %>
    <%= form.text_field :Person_id, id: :update_Person_id %>
  </div>

  <div class="field">
    <%= form.label :ActionResult_id %>
    <%= form.text_field :ActionResult_id, id: :update_ActionResult_id %>
  </div>

  <div class="field">
    <%= form.label :job_order_id %>
    <%= form.text_field :job_order_id, id: :update_job_order_id %>
  </div>

  <div class="field">
    <%= form.label :job_order_type %>
    <%= form.text_field :job_order_type, id: :update_job_order_type %>
  </div>

  <div class="field">
    <%= form.label :attachment %>
    <%= form.text_field :attachment, id: :update_attachment %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, id: :update_text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
