<!-- render organizations/form.html -->
<div class="row">
  <div class="col">
    <%= form_with(model: resource, local: true, html: {autocomplete: "false", novalidate: "novalidate"} , class: "smart-form") do |form| %>
      <div class="hidden fields">
        <%= form.hidden_field :city, id: 'geobytescity' %>
        <%= form.hidden_field :state, id: 'geobytesregion' %>
        <%= form.hidden_field :country, id:'geobytescountry' %>
        <%= form.hidden_field :latitude, id:'geobyteslatitude' %>
        <%= form.hidden_field :longitude, id:'geobyteslongitude' %>
      </div>

      <fieldset>
        <div class="row">
          <div class="col-sm">
            <%= delphi_text_field( form, { label: 'Name', name: :name, icon: 'fa fa-building' } ) %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm mr-sm-3">
            <%= delphi_text_field( form, { label: 'Address 1', name: :address1, icon: 'fa fa-street-view'} ) %>
          </div>
          <div class="col-sm">
            <%= delphi_text_field( form, { label: 'Address 2', name: :address2,  icon: 'fa fa-street-view' } ) %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <%= delphi_text_field( form, { label: 'City & State', name: :city_and_state, id: 'f_elem_city', icon: 'fa fa-map-marker'} ) %>
         </div>
        </div>
      </fieldset>
      <footer>
        <%= submit_button( form ) %>
      </footer>
    <% end %>

  </div>
</div>