

<%= form_with(model: organization, local: true, html: {autocomplete: "false", novalidate: "novalidate"} , class: "smart-form") do |form| %>
  <% if organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="hidden fields">
    <%= form.hidden_field :city, id: 'geobytescity' %>
    <%= form.hidden_field :state, id: 'geobytesregion' %>
    <%= form.hidden_field :country, id:'geobytescountry' %>
    <%= form.hidden_field :latitude, id:'geobyteslatitude' %>
    <%= form.hidden_field :longitude, id:'geobyteslongitude' %>
  </div>


  <fieldset>
    <div class="row">
      <section class="col col-6">
        <label class="input"> <i class="icon-append fa fa-building"></i>
          <%= form.text_field :name, id: :organization_name, placeholder: 'Organization Name' %>
        </label>
      </section>
      <section class="col col-6">
        <label class="input"> <i class="icon-append fa fa-street-view"></i>
          <%= form.text_field :address1, id: :organization_address1, placeholder: 'Address 1' %>
        </label>
      </section>
    </div>

    <div class="row">
      <section class="col col-6">
        <label class="input"></i>
          <%= form.text_field :address2, id: :organization_address2, placeholder: 'Address 2' %>
        </label>
      </section>
      <section class="col col-6">
        <label class="input"> <i class="icon-append fa fa-map-marker"></i>
          <%= form.text_field :city_and_state, id: 'f_elem_city', class: 'ff_elem', placeholder: 'City and State' %>
        </label>
      </section>
    </div>
  </fieldset>
  <footer>
      <%= form.submit class: 'btn btn-primary btn-lg' %>
  </footer>
<% end %>
<!-- end widget content -->