


<%= form_with(model: organization, local: true, id: "form-A2") do |form| %>
  <% if organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(organization.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% organization.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <fieldset >

    <h2>Company Information</h2>

      <%= form.label :name %>
      <%= form.text_field :name, id: :organization_name %>

    <h2>Contact Information</h2>

<%= form.fields_for :people do |child| %>
      <div class="full">
        <div class="field half left">
          <%= child.label :first_name %>
          <%= child.text_field :first_name, id: :person_first_name %>
        </div>
        <div class="field half left">
          <%= child.label :last_name %>
          <%= child.text_field :last_name, id: :person_last_name %>
        </div>
      </div>

      <div class="field">
        <%= child.label :job_title %>
        <%= child.text_field :job_title, id: :person_job_title %>
      </div>

    <div class="field">
      <%= child.label :email %>
      <%= child.email_field :email, id: :person_email %>
    </div>

    <div class="field">
      <%= child.label :telephone %>
      <%= child.telephone_field :telephone, id: :person_telephone %>
    </div>

    <% end %>


  <div class="actions">
    <%= form.submit %>
  </div>

  </fieldset>

<% end %>