<!-- MAIN CONTENT -->
<div id="content" class="container">
  <div class="col-sm-12">

    <%= link_to 'All Organizations', organizations_path, class: 'right link' %>
    <div class="row">
      <h1 class="left"><%= @organization.name %></h1>
      <hr class="clearboth">
      <p>
        <span><%= @organization.address1 %></span><br>
        <%= (@organization.address2.length > 1   ? '<span>' + @organization.address2 + '</span><br>' : '').html_safe %>
        <span><%= @organization.city %>, <%= @organization.state %><br><%= @organization.country %></span>
      </p>
    </div>
    <div class="row">
      <h3>Employees & Contacts</h3>
      <%= render template: 'people/_table' %>
    </div>
    <div class="row">
      <h3>Workshops</h3>
      <%= render template: 'workshops/_table' %>
    </div>
    <footer>
      <%= edit_button( { path: 'edit_organization_path(@organization)' } ) %>
    </footer>
  </div>
</div>